/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--font-family);
  background: var(--main-color) var(--bg-image) no-repeat center / cover;
  background-attachment: fixed;
}

.wrapper {
  padding: var(--header-footer-section-padding, 0.625rem);
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr fit-content(12rem) 1fr;
  min-block-size: 100vh;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-inline-end: 1px solid var(--corner-color);
  border-block-start: 1px solid var(--corner-color);
  inline-size: 1.56488rem;
  block-size: 1.56244rem;
  inset-inline-end: 0.62rem;
  inset-block-start: 0.63rem;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-inline-start: 1px solid var(--corner-color);
  border-block-end: 1px solid var(--corner-color);
  inline-size: 1.56488rem;
  block-size: 1.56244rem;
  inset-block-end: 0.62rem;
  inset-inline-start: 0.62rem;
}

.header__theme-menu {
  place-self: center end;
}

.header__theme-menu::before {
  content: '';
  position: absolute;
  display: var(--decorative);
  border-radius: 50%;
  background: var(--accent-color);
  filter: drop-shadow(0 0 4px var(--accent-color));
  block-size: 0.5625rem;
  inline-size: 0.5625rem;
  inset-inline-end: 1.2rem;
  inset-block-start: 1.25rem;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 0.81rem;
}

.header__theme-menu-button {
  border: none;
  padding: 0.13rem 0.8125rem;
  color: var(--menu-button);
  font-size: 1.125rem;
  line-height: 1.125rem;
  background: transparent;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-border);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__decorating {
  position: absolute;
  display: var(--decorative);
  color: var(--accent-color);
  font-size: 1.125rem;
  line-height: 1.5625rem;
  inset-inline-end: 2.37rem;
  inset-block-start: 0.73rem;
}

.heading {
  color: var(--main-header-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: var(--text-shadow);
}

.title-decor {
  color: var(--title-decor);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  background: var(--accent-color);
}

.header__subtext {
  position: relative;
  place-self: center end;
  max-inline-size: 22.75rem;
}

.header__subtext span {
  display: block;
}

.wrapper-main {
  padding: var(--main-section-padding);
}

.text-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  margin: 0 0 3.12rem;
}

.section-title-decor {
  margin: 0 0 1.25rem;
  color: var(--section-title-decor);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.4625rem;
}

.text-section__list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.text-section__list-title {
  margin: 0 0 1.25rem;
}

.paragraph__title {
  margin: 0 0 0.63rem;
}

.paragraph__textblock {
  color: var(--text-color);
  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.4625rem;
}

.paragraph__link {
  --text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
  text-shadow: var(--text-shadow);
}

.paragraph__link:hover {
  text-decoration: underline;
}

.paragraph__link:focus-visible {
  outline: 1px solid currentColor;
}

.mini-title-decor {
  margin: 0 0 0.63rem;
  color: var(--title-decor);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.4625rem;
  background: var(--accent-color);
}

.image-section__title {
  margin: 0 0 0.62rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  row-gap: 0.35rem;
}

.gallery__image-item {
  inline-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  padding: var(--header-footer-section-padding);
  min-block-size: 100vh;
}

.footer__title {
  --text-shadow: 2px 2px 0 #ff0070;
  text-align: center;
  text-shadow: var(--text-shadow);
}

@media screen and (width >=768px) {

  .wrapper {
    --header-footer-section-padding: 1.25rem;
    padding: var(--header-footer-section-padding, 1.25rem);
  }

  .decorated-zone::before {
    inset-inline-end: 1.25rem;
    inset-block-start: 1.25rem;
  }

  .decorated-zone::after {
    inset-block-end: 1.25rem;
    inset-inline-start: 1.25rem;
  }

  .header__theme-menu::before {
    inset-inline-end: 1.81rem;
    inset-block-start: 1.75rem;
  }

  .header__decorating {
    inset-inline-end: 3rem;
    inset-block-start: 1.25rem;
  }

  .header__title {
    position: relative;
    inset-inline-start: -1.25rem;
  }

  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .wrapper-main {
    --main-section-padding: 3.75rem 1.25rem;
    padding: var(--main-section-padding);
  }

  .text-section {
    margin: 0 0 5rem;
  }

  .adaptive {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    column-gap: 1.25rem;
  }

  .section-title-shrink {
    max-inline-size: 30%;
  }

  .image-section__title {
    margin: 0 0 1.25rem;
  }

  .gallery {
    display: grid;
    grid-auto-flow: row dense;
    row-gap: 1.05rem;
    column-gap: 1.25rem;
    grid-template: repeat(3, auto) / repeat(3, auto);
  }

  .gallery__image-item {
    object-fit: cover;
    object-position: center;
    block-size: 100%;
    inline-size: 100%;
  }

  .gallery__image:first-of-type {
    grid-column: span 2;
  }

  .gallery__image:nth-of-type(2) {
    grid-row: span 2;
  }

  .gallery__image:nth-of-type(3) {
    grid-row: span 2;
  }

  .gallery__image:last-of-type {
    grid-column: span 2;
  }
}

@media screen and (768px <= width < 1024px) {

  .header {
    grid-template-rows: 1fr fit-content(6.1875rem) 1fr;
  }
}

@media (width >= 1024px) {

  .header {
    grid-template-rows: 1fr fit-content(8.125rem) 1fr;
  }

  .header__theme-menu {
    place-self: start center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 0.62rem;
  }

  .header__subtext {
    min-inline-size: 30.6875rem;
  }

  .multi-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .text-section__list-item {
    flex: 1 1 33.33%;
  }
}
