/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background: var(--main-color) var(--bg-image) no-repeat center / cover;
  background-attachment: fixed;
  font-family: var(--font-family, 'Arial', sans-serif);
}

.wrapper {
  padding: var(--header-footer-section-padding, 0.625rem);
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(14.88rem - var(--header-footer-section-padding)) fit-content(12rem) calc(14.88rem - var(--header-footer-section-padding));
  position: relative;
}

.header::before {
  content: '';
  position: absolute;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  inline-size: 1.56488rem;
  block-size: 1.56244rem;
  inset-inline-end: 0.62rem;
  inset-block-start: 0.63rem;
}

.header::after {
  content: '';
  position: absolute;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  inline-size: 1.56488rem;
  block-size: 1.56244rem;
  inset-block-end: 0.62rem;
  inset-inline-start: 0.62rem;
}

.header__theme-menu {
  place-self: center end;
}

.header__theme-menu::before {
  content: '';
  position: absolute;
  background: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  block-size: 0.5625rem;
  inline-size: 0.5625rem;
  border-radius: 50%;
  inset-inline-end: 1.2rem;
  inset-block-start: 1.25rem;
  display: var(--decorative);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 0.81rem;
}

.header__theme-menu-button {
  background: transparent;
  color: var(--menu-button);
  font-size: 1.125rem;
  line-height: 1.125rem;
  border: none;
  padding: 0.13rem 0.8125rem;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-border);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid currentColor;
}

.header__decorating {
  position: absolute;
  color: var(--accent-color);
  font-size: 1.125rem;
  line-height: 1.5625rem;
  inset-inline-end: 2.37rem;
  inset-block-start: 0.73rem;
  display: var(--decorative);
}

.heading {
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--main-header-color);
  text-shadow: var(--text-shadow);
  line-height: 82.5%;
}

.title-decor {
  color: var(--title-decor);
  background: var(--accent-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}

.header__subtext {
  place-self: center end;
  position: relative;
  max-inline-size: 22.75rem;
}

.header__subtext span {
  display: block;
}

.wrapper-main {
  padding: var(--main-section-padding);
}

.content__section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
}

.content__section:not(:last-of-type) {
  margin: 0 0 3.12rem;
}

.section-title-decor {
  color: var(--section-title-decor);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.4625rem;
  margin: 0 0 1.25rem;
}

.content__text-section {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.content__subtitle {
  margin: 0 0 0.63rem;
}

.multi-section-title {
  margin: 0;
}

.content__textblock {
  color: var(--text-color);
  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.4625rem; 
}

.content__link {
  --text-shadow: 2px 2px 0px var(--accent-color);
  text-shadow: var(--text-shadow);
  text-decoration: none;
}

.content__link:hover {
  text-decoration: underline;
}

.content__link:focus-visible{
  border: 1px solid var(--text-color);
}

.mini-title-decor {
  color: var(--title-decor);
  font-size: 1.125rem;
  line-height: 1.4625rem;
  font-weight: 400;
  background: var(--accent-color);
  margin: 0 0 0.63rem;
}

.content__gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  row-gap: 0.35rem;
}

.content__gallery-image-item {
  inline-size: 100%;
}

.footer {
  padding: var(--header-footer-section-padding);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40.4rem;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__title {
  --text-shadow: 2px 2px 0px var(--accent-color);
  text-shadow: var(--text-shadow);
  text-align: center;
}

.footer::before {
  content: '';
  position: absolute;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  inline-size: 1.56488rem;
  block-size: 1.56244rem;
  inset-inline-end: 0.62rem;
  inset-block-start: 0.63rem;
}

.footer::after {
  content: '';
  position: absolute;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  inline-size: 1.56488rem;
  block-size: 1.56244rem;
  inset-block-end: 0.62rem;
  inset-inline-start: 0.62rem;
}


@media screen and (width >=768px) {
  .wrapper {
    --header-footer-section-padding: 1.25rem;
    padding: var(--header-footer-section-padding, 1.25rem);
  }

  .header::before {
    inset-inline-end: 1.25rem;
    inset-block-start: 1.25rem;
  }

  .header::after {
    inset-block-end: 1.25rem;
    inset-inline-start: 1.25rem;
  }

  .header__theme-menu::before {
    inset-inline-end: 1.81rem;
    inset-block-start: 1.75rem;
  }

  .header__decorating {
    inset-inline-end: 3rem;
    inset-block-start: 1.25rem;
  }

  .header__title {
    position: relative;
    inset-inline-start: -1.25rem;
  }

  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .wrapper-main {
    --main-section-padding: 3.75rem 1.25rem;
    padding: var(--main-section-padding);
  }

  .content__section:not(:last-of-type) {
    margin: 0 0 5rem;
  }

  .adaptive {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    column-gap: 1.25rem;
  }

  .section-title-shrink {
    max-inline-size: 30%;
  }

  .content__subtitle:has(+ .content__gallery) {
    margin: 0 0 1.25rem;
  }
  
  .content__gallery {
    display: grid;
    grid-template: repeat(3, auto) / repeat(3, auto);
    row-gap: 1.05rem;
    column-gap: 1.25rem;
    grid-auto-flow: row dense;
  }

  .content__gallery-image-item {
    object-fit: cover;
    object-position: center;
    block-size: 100%;
    inline-size: 100%;
  }

  .content__gallery-image:first-of-type {
    grid-column: span 2;
  }

  .content__gallery-image:nth-of-type(2) {
    grid-row: span 2;
  }

  .content__gallery-image:nth-of-type(3) {
    grid-row: span 2;
  }

  .content__gallery-image:last-of-type {
    grid-column: span 2;
  }

  .footer::before {
    inset-inline-end: 1.25rem;
    inset-block-start: 1.25rem;
  }

  .footer::after {
    inset-block-end: 1.25rem;
    inset-inline-start: 1.25rem;
  }
}

@media screen and (768px <= width < 1024px) {
    .header {
    grid-template-rows: calc(28.9rem - var(--header-footer-section-padding)) fit-content(6.1875rem) calc(28.9rem - var(--header-footer-section-padding));
  }

  .footer {
    grid-template-rows: 61.5rem;
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-rows: calc(19.94rem - var(--header-footer-section-padding)) fit-content(8.125rem) calc(19.94rem - var(--header-footer-section-padding));
  }

  .header__theme-menu {
    place-self: start center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 0.62rem;
  }

  .header__subtext {
    min-inline-size: 30.6875rem;
  }

  .multi-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .content__text-section-item {
    flex: 1 1 33.33%;
  }

  .footer {
    grid-template-rows: 45.5rem;
  }
}